{# Sidebar navigation for the GitHub Wiki. #}
# Warera API Client

## Getting Started

- [Home](Home)
- [Introduction](Introduction)
- [Your First Script](Getting-Started)

## Guides

- [Advanced Usage](Advanced-Usage)
- [Code Snippets](Code-Snippets)
- [FAQ](FAQ)

## Reference

- [API Reference](API-Reference)
- [Migration Guide](Migration-Guide)

## Resources
{% for res in resources %}
- [{{ res.name }}]({{ res.page_name }})
{% endfor %}
